.fundointeiro
{
    background: url("../img/fundo.png") no-repeat center center fixed;
}


.fundo
{
    background: #a5642d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #a5642d, #a5642d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #a5642d, #a5642d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #a5642d, #a5642d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #a5642d, #a5642d); /* Standard syntax */
}

label.lblinicial, .lnkinicial, .navbar-dark .navbar-text a
{
    font-weight: bold;
/*    color: #cddc29; */
    color: #C2924F;
}

.lnkinicial, .navbar-dark .navbar-text a
{
    text-decoration: none;
}

.lnkinicial:hover, .navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover
{
    /* color: #a4b020; */
    color: #C2924F;
    text-decoration: underline;
}

.btninicial
{
    border: solid 1px #c5987d;
    /* background-color: #cddc29; */
    background-color: #f0e0be;
    /* color: #335aa9; */
    color: #958b7d;
    font-weight: bold;
}

.conteudo
{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.tab-content
{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs
{
    margin-bottom: 0;
}